<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <%- include('layouts/header'); -%>

        <!-- Custom fonts for this template-->
        <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

        <!-- Custom styles for this template-->
        <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <!-- <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar"> -->

        <!-- Sidebar - Brand -->
        <!-- <a href="/">

                <div class="sidebar-brand-text mx-3"">Daintree</div>
            </a> -->

        <!-- Divider -->
        <!-- <hr class=" sidebar-divider my-0"> -->

        <!-- Nav Item - Dashboard -->
        <!-- <li class="nav-item" style="margin-top: 42px;">
                <a class="nav-link" href="/dashboard">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span style="font-size: 3vw;">Daintree</span></a>
            </li> -->

        <!-- Divider -->
        <!-- <hr class="sidebar-divider">
            <% if(user.role==0){ %>
                <li class="nav-item">
                    <a class="nav-link collapsed">
                        <span style="background: green;">Free version</span>
                    </a>
                </li>
                <% } %>
                    <% if(user.role==1){ %>
                        <li class="nav-item">
                            <a class="nav-link collapsed">
                                <span style="background: green;">Premium version</span>
                            </a>
                        </li>
                        <% } %>
                            <% if(user.role==2){ %>
                                <li class="nav-item">
                                    <a class="nav-link collapsed">
                                        <span style="background: green;">Employee Panel</span>
                                    </a>
                                </li>
                                <% } %>
                                    <% if(user.role==3){ %>
                                        <li class="nav-item">
                                            <a class="nav-link collapsed">
                                                <span style="background: green;">Admin Panel</span>
                                            </a>
                                        </li>
                                        <% } %> -->

        <!-- Heading -->
        <!-- <div class="sidebar-heading">
                                                Navigate
                                            </div> -->

        <!-- Nav Item - Pages Collapse Menu -->
        <!-- <li class="nav-item">
                                                <a class="nav-link collapsed" href="/">
                                                    <span>Home</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link collapsed" href="/curation">

                                                    <span>Make a Curation</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link collapsed" href="/post/category/skincare">

                                                    <span>Skin Care</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link collapsed" href="/post/category/haircare">

                                                    <span>Hair Care</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link collapsed" href="/curation-answer">
                                                    <span>Your Curation</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link collapsed" href="/">

                                                    <span>Back to website</span>
                                                </a>
                                            </li> -->






        <!-- Divider -->
        <!-- <hr class="sidebar-divider d-none d-md-block">


        </ul> -->


        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <!-- <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" style="height: 40px;">-->






                <div style="background-image:linear-gradient(
                    180deg,#4e73df 10%,#224abe 100%); height: 190px;
                    ">

                    <!-- <div style="position: absolute;
                    right: 1vw;
                    list-style: none;"> -->

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <div style="display: inline-block;">
                        <ul
                            style="list-style: none; display: inline-block; padding-left: 0; color: rgb(250, 228, 228);">
                            <li class="nav-item" style="margin-top: 42px; display: inline-block;">
                                <a class="nav-link" href="/dashboard" style="display: inline-block;">
                                    <i class="fas fa-fw fa-tachometer-alt"></i>
                                    <span
                                        style="font-size: 26px;color: white; display: inline-block;">Daintree</span></a>
                            </li>

                            <!-- Divider -->
                            <hr class="sidebar-divider" style="margin-top: 0; margin-bottom: 0; width: 10%;">
                            <% if(user.role==0){ %>
                                <li class="nav-item" style="display: inline-block;">
                                    <a class="nav-link collapsed" style="display: inline-block;">
                                        <span style="background: rgb(51,209,51); display: inline-block;">Free
                                            version</span>
                                    </a>
                                </li>
                                <% } %>
                                    <% if(user.role==1){ %>
                                        <li class="nav-item" style="display: inline-block;">
                                            <a class="nav-link collapsed" style="display: inline-block;">
                                                <span style="background: green; display: inline-block;">Premium
                                                    version</span>
                                            </a>
                                        </li>
                                        <% } %>
                                            <% if(user.role==2){ %>
                                                <li class="nav-item" style="display: inline-block;">
                                                    <a class="nav-link collapsed" style="display: inline-block;">
                                                        <span style="background: green; display: inline-block;">Employee
                                                            Panel</span>
                                                    </a>
                                                </li>
                                                <% } %>
                                                    <% if(user.role==3){ %>
                                                        <li class="nav-item" style="display: inline-block;">
                                                            <a class="nav-link collapsed"
                                                                style="display: inline-block;">
                                                                <span
                                                                    style="background: green; display: inline-block;">Admin
                                                                    Panel</span>
                                                            </a>
                                                        </li>
                                                        <% } %>

                                                            <!-- Heading -->
                                                            <!-- <div class="sidebar-heading" style="display: block;margin-left: 15px; " id="navigate" >
                                                              <button> Navigate</button> 
                                                            </div> -->
                                                            <script>
                                                                const showed = false;
                                                                $('.sideoptions').hide();
                                                                if (showed == false) {
                                                                    $('#navigate').on('click', function () {
                                                                        showed = true;
                                                                        $('.sideoptions').show();

                                                                    })
                                                                }
                                                                else {
                                                                    $('#navigate').on('click', function () {
                                                                        showed = false;
                                                                        $('.sideoptions').show();

                                                                    })
                                                                }


                                                            </script>
                                                            <li class="nav-item dropdown no-arrow"
                                                                style="display: inline;">
                                                                <div style="float: left; position: absolute;color: white !important;">

                                                                    <a class="nav-link dropdown-toggle" href="#"
                                                                        id="userDropdown" role="button"
                                                                        data-toggle="dropdown" aria-haspopup="true"
                                                                        aria-expanded="false"
                                                                        style="display: inline-block !important;">
                                                                        Navigate
                                                                    </a>
                                                                    <div>

                                                                        
                                                                        <!-- <ul style="grid-area: propertyx; margin-left: 1050px;
                                                                    margin-top: 68px; display: inline;" class="sideoptions">
                                                                        <li style="display: inline;" class="sideoptions">Face Type</li>
                                                                        <li style="display: inline;" class="sideoptions">Skin tone</li>
                                        
                                                                        <li style="display: inline;" class="sideoptions">Hair Type</li>
                                        
                                                                        <li style="display: inline;" class="sideoptions">Body Type</li>
                                                                        <li style="display: inline;" class="sideoptions">Skin Type</li>
                                                                    </ul> -->


                                                                        <!-- Dropdown - User Information -->
                                                                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                                                            aria-labelledby="userDropdown">
                                                                            <a class="dropdown-item" href="/">
                                                                                <i
                                                                                    class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                                                                Home
                                                                            </a>
                                                                            <a class="dropdown-item" href="/services">
                                                                                <i
                                                                                    class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                                                                Curation
                                                                            </a>
                                                                            <a class="dropdown-item" href="/blogs">
                                                                                <i
                                                                                    class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                                                                Skin Care
                                                                            </a>
                                                                            <a class="dropdown-item" href="/contact">
                                                                                <i
                                                                                    class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                                                                Hair Care
                                                                            </a>
                                                                            <a class="dropdown-item" href="/">
                                                                                <i
                                                                                    class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                                                                Back to Website
                                                                            </a>


                                                                            
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                            </li>
                        </ul>
                    </div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow" style="display: inline;">
                        <div style="float: right; margin-top: 14px;">

                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                style="display: inline-block !important;">
                                <img class="img-profile rounded-circle" style="height: 80px;
                        width: 80px; grid-area: imagex;
                        " src="<%=user.image %>">
                            </a>
                            <div>

                                <span class="mr-2 text-gray-600 small" style="font-family: 'icomoon';grid-area: namex;font-size: 20px;
                                display: inline-block; color: rgb(253, 223, 223) !important;">
                                    <%=user.username %>

                                </span>
                                <!-- <ul style="grid-area: propertyx; margin-left: 1050px;
                            margin-top: 68px; display: inline;" class="sideoptions">
                                <li style="display: inline;" class="sideoptions">Face Type</li>
                                <li style="display: inline;" class="sideoptions">Skin tone</li>

                                <li style="display: inline;" class="sideoptions">Hair Type</li>

                                <li style="display: inline;" class="sideoptions">Body Type</li>
                                <li style="display: inline;" class="sideoptions">Skin Type</li>
                            </ul> -->


                                <!-- Dropdown - User Information -->
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                    aria-labelledby="userDropdown">
                                    <a class="dropdown-item" href="/">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Home
                                    </a>
                                    <a class="dropdown-item" href="/services">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Services
                                    </a>
                                    <a class="dropdown-item" href="/blogs">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Blogs
                                    </a>
                                    <a class="dropdown-item" href="/contact">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Contact Us
                                    </a>


                                    <a class="dropdown-item" href="/auth/logout" data-toggle="modal"
                                        data-target="#logoutModal">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Logout
                                    </a>
                                </div>
                            </div>
                        </div>


                    </li>
                </div>
                </ul>
            </div>

            </nav>
            <!-- End of Topbar -->
            <style>
                .options {
                    width: 120px;
                    height: 120px;
                    border: 2px solid rgb(88 88 88);
                    border-radius: 6px;
                    box-sizing: border-box;
                    /* display: inline-block; */
                    background-color: rgb(139, 2, 139);
                    margin: 2vw;
                    padding: 4px;
                    margin-left: 20px;
                    float: left;
                }

                .optionfont a {
                    text-decoration: none;
                    font-size: 15px;
                    /* font-weight: bolder; */
                    font-family: 'Courier New', Courier, monospace;
                    color: white;
                    position: relative;
                    top: 54px;
                    left: 11px;
                }

                .optionfont a:hover {
                    color: rgb(250, 143, 143);
                }
              
            </style>
            <% if(user.role>=0 && user.role<=1){ %>
                    <!-- Begin Page Content -->
                    <h1 class="h2 mb-1 text-gray-800" style="margin-top: 40px; font-weight: bold;margin-left: 10px; ">We offer
                    </h1>
                    <div class="container-fluid grid-container">
                        <!-- Page Heading -->
                       
                        <!-- <div class="options optionfont grid-item"
                            style="background: url('/images/dblog.jpg'); background-size: cover;"><a
                                href="/curation">Request curation</a> </div> -->
                        <div class="options optionfont grid-item"
                            style="background: url('/images/dblog.jpg'); background-size: cover;"><a
                                href="/curation">Request Curation</a> </div>
                        <div class="options optionfont grid-item"
                            style="background: url('/images/dcurations.jpg'); background-size: cover;"><a
                                href="/curation-answer">Curations</a> </div>
                        
                        <div class="options optionfont grid-item"
                            style="background: url('/images/dhome.jpg'); background-size: cover;"><a href="/">Daintree
                                Podcast</a> </div>
                        <div class="options optionfont grid-item"
                            style="background: url('/images/dindia.jpg'); background-size: cover;"><a href="/">Magazine
                                Subscr.</a> </div>
                        <div class="options optionfont grid-item"
                            style="background: url('/images/djapan.jpg'); background-size: cover;"><a
                                href="/">Newsletter</a> </div>
                        <div class="options optionfont grid-item"
                            style="background: url('/images/dnewyork.jpg'); background-size: cover;"><a href="/">Still
                                to add</a> </div>
                        <!-- Content Row -->
                        <div class="row">
                        </div>

                    </div>
                    <!-- /.container-fluid -->
                    <% } %>
                        <% if(user.role>=2){ %>
                            <!-- Begin Page Content -->
                            <div class="container-fluid">
                                <!-- Page Heading -->
                                <h1 class="h2 mb-1 text-gray-800" style="margin-top: 40px; font-weight: bold;margin-left: 10px;">We
                                    offer</h1>
                                <div class="options optionfont"
                                    style="background: url('/images/dhome.jpg'); background-size: cover;"><a
                                        href="/">Home</a> </div>
                                <div class="options optionfont"
                                    style="background: url('/images/dcurations.jpg'); background-size: cover;"><a
                                        href="/curation-answer">Curations</a> </div>
                                <div class="options optionfont"
                                    style="background: url('/images/dblog.jpg'); background-size: cover;"><a
                                        href="/posts/new">Write blog</a> </div>
                                        <% if(user.role>=3){ %>
                                            <br>
                                            <!-- <hr style="border-color:black; width: 97%"> -->
                                            <div>
                                                <!-- Begin Page Content -->
                                                <!-- <h2 style="color: #5a5c69 !important;">Change Role:</h2> -->
                                                <form action="/role/change" method="POST">
                                                    <div class="form-group" style="width: 40%;">
                                                        <input type="email" class="form-control" placeholder="G-mail" id="email" name="email">
                                                    </div>
                                                    <div class="form-group" style="width: 40%;">
                                                        <input type="number" class="form-control" placeholder="Role" id="role" name="role">
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="submit" value="Change Role" id="sendMessageButton"
                                                            class="btn btn-primary py-3 px-5">
                                                    </div>
                            
                                                </form>
                                            </div>
                            
                                            <% } %>
                            </div>

        </div>
        <% } %>
            <!-- < if(user.role>=3){ %>
                <br>
                <hr style="border-color:black; width: 97%">
                <div>
                    
                    <h2 style="color: #5a5c69 !important;">Change Role:</h2>
                    <form action="/role/change" method="POST">
                        <div class="form-group" style="width: 40%;">
                            <input type="email" class="form-control" placeholder="G-mail" id="email" name="email">
                        </div>
                        <div class="form-group" style="width: 40%;">
                            <input type="number" class="form-control" placeholder="Role" id="role" name="role">
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Change Role" id="sendMessageButton"
                                class="btn btn-primary py-3 px-5">
                        </div>

                    </form>
                </div>

                < } %> -->
    </div>
    <!-- End of Main Content -->

    <!-- Footer -->

    <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>
            <!-- Scroll to Top Button-->
            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fas fa-angle-up"></i>
            </a>

            <!-- Logout Modal-->
            <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">Are you sure you want to logout?
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                            <a class="btn btn-primary" href="/auth/logout">Logout</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Bootstrap core JavaScript-->
            <script src="vendor/jquery/jquery.min.js"></script>
            <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

            <!-- Core plugin JavaScript-->
            <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

            <!-- Custom scripts for all pages-->
            <script src="js/sb-admin-2.min.js"></script>

</body>

</html>